<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Camera Access</title>
  </head>
  <body>
    <h1>Access Camera</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Capture</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    
    <form method="post" action="{{ url_for('execute_file', filename=filename) }}">
      <input type="submit" value="Run Executable">
    </form>

    <script>
      // Grab elements, create settings, etc.
      var video = document.getElementById('video');
      var canvas = document.getElementById('canvas');
      var context = canvas.getContext('2d');
      var snap = document.getElementById('snap');

      // Get access to the camera!
      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
              video.srcObject = stream;
              video.play();
          });
      }

      // Capture video frame
      snap.addEventListener("click", function() {
          context.drawImage(video, 0, 0, 640, 480);
      });
    </script>
  </body>
</html>
